<div id="container">
    <h1>Welcome to the Great Number Game</h1>
    <h3>I am thinking of a number between 1 and 100</h3>
    <h3>Take a guess!</h3>

    <form id="number_game" action="/" method="post">
        <% if @guess != 'none' %>
            <div id="result">
                <% if @guess == 'low' %>
                    <p>Too <%= @guess %>!</p>
                <% elsif @guess == 'high' %>
                    <p>Too <%= @guess %>!</p>
                <% else %>
                    <!-- reset the game here -->
                    <p><%= session[:great_number] %> was the number!</p>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="number" value="-1" />
                    <input type="hidden" name="reset" value="1" />
                    <input class="again" type="submit" value="Play again!" />
                <% end %>
            </div> <!-- end div#result -->
        <% end %>

        <% if @guess != 'match' %>
            <!-- the box to enter the guess number -->
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="text" name="number" />
            <input type="submit" value="Submit" />
        <% end %>
    </form>
</div> <!-- end div#container -->
