<% @animes.each do |a| %>
  <p><%= a.name %></p>
  <form action="/animes/<%= a.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="delete">
  </form>
<% end %>
