<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show Course</title>
</head>
<body>
  <h2>Course Info</h2>
  <% if (course) { %>
    <p>Name: <%= course.name %></p>
    <p>Description: <%= course.description %></p>
  <% } %>

  <p><a href="/">Back</a> <a href="<%= course.id %>/edit">Edit</a></p>
</body>
</html>
