* {
	padding: 0px;
	margin: 0px;
}
#container {
	width: 600px;
	height: 500px;
	/*border: 1px solid black;*/
	margin: 0px auto;
}
h1 {
	text-align: center;
}
#survey {
	margin-top: 20px;
	width: 500px;
	height: 400px;
	border: 1px solid black;

}
p {
	padding: 10px;
}
	p.message {
		color: red;
	}
	p.result_message {
		color: green;
	}
a {
	text-decoration: none
}
button {
	width: 80px;
	height: 40px;
	border-radius: 5px;
}
