/* global reset settings */
* {
	padding: 0px;
	margin: 0px;
}
div#container {
	margin: 0px auto;
	width: 900px;
	height: 500px;
}
table {
	margin: 150px 0px 0px 0px;

}
tbody {
	margin: 0px auto;
}
td {
	padding: 3px;
	margin: 0px auto;
}

p {
	margin: 0px auto;
	text-align: center;
}

