<h2>New User</h3>

<% if flash[:messages].present? %>
    <% flash[:messages].each do |message| %>
       <p class="<%=message['status'] %>"><%= message['text'] %></p> 
    <% end %>
<% end %>

<form id="register" action="/users" method="post">
    <p>
        <label for="user[first_name]">First name</label>
        <input type="text" name="user[first_name]" id="user[first_name]" value="<%= @user.first_name %>">
    <p>
    <p>
        <label for="last_name">Last name</label>
        <input type="text" name="user[last_name]" id="last_name">
    <p>
    <p>
        <label for="email">Email</label>
        <input type="text" name="user[email]" id="email">
    <p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="user[password]" id="password">
    <p>
    <p><input type="submit" value="Create"></p>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <a href="/users">Back</a>
</form>
