<div>
  <a href="#/dashboard">Home</a> | 
  {{ user.username }} | 
  <a href="#/questions/{{ question._id }}">Go Back to Question</a> | 
  <a href="#/">Logout</a>

  <h2>{{ question.question }}</h2>
  <p>{{ question.description }}</p>
  <p>Asked by {{ question._poster.username }}</p>

  <div ng-if="error">
    <p style="color: red">{{ error.message }}</p>
    <ul>
      <li style="color: red" ng-repeat="e in error.errors">{{e.message}}</li>
    </ul>
  </div>

  <form id="answerForm">
    <p>Your Answer:</p>
    <textarea ng-model="newAnswer.answer"></textarea>
    <p>Supporting Details for your answer (Optional):</p>
    <textarea ng-model="newAnswer.detail"></textarea>
    <p>
      <button type="cancel" ng-click="cancelAnswer()">Cancel</button>
      <button type="submit" ng-click="addAnswer()">Submit</button>
    </p>

  </form>
</div>
