<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Itunes</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            // upon form submit
            $('form').submit(function() {
                /*  $.get(url, function) not allowed to retrieve video here from itunes
                    No 'Access-Control-Allow-Origin' header is present on the requested resource. 
                    Origin 'http://localhost:5000' is therefore not allowed access. 
                */

                // gif while waiting for response
                $('#video').html('<img src="/static/img/35.gif">');

                $.post($(this).attr('action'), $(this).serialize(), function(res) {
                    //console.log('the response object:');
                    //console.log(res);
                    var html_string = "";
                    if(res.results.length !== 0) {
                        for (var i=0; i<res.results.length; i++) {
                        html_string += "<p>" + res.results[i].trackName + "</p>";
                        html_string += "<p><video controls src='" + res.results[i].previewUrl + "'></video></p>";
                        }
                    } else {
                        html_string = "Not Found";
                    }
                    console.log('the html string:');
                    console.log(html_string);
                    $('#video').html(html_string);
                }, 'json');
                return false;
            });
        });
    </script>
    <style>
        form {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

    <form action="/itunes/get_movie" method="post">
        <label for="user_input">Enter Artist's Name:</label>
        <input id="user_input" name="user_input" type="search">
        <input type="submit" value="search">
    </form>

    <div id="video">
    </div>
</body>
</html>
