
<div id="welcome" class="container-fluid" ng-style="{'background-image':'url(/static/images/dojo.jpg' + ')', 'height': '900px'}">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="#/events">Events</a></li>
          <li><a href="#/chatroom">Chat Room</a></li>
          <li><a href="#/discussion">Discussion Board</a></li>
          <li><a href="#/resources">Resources</a></li>
          <li><a href="#/gallery">Gallery</a></li>
          <li><a href="#/messages">Messages</a></li>
          <li><a href="#/ninjadex">Ninja Dex</a></li>
          <li><a href="#/profile">Profile</a></li>
          <li><a href="#/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="welcome" class="container">

    <h4 style="color: white">Welcome, {{ ninja_self.first_name }}!</h4>

    <div class="jumbotron">
      <h2>Dojo Ninjas</h2>
      <h3>Where are they now?</h3>
    </div>

  </div>
</div>

<style>
  background: url("./static/images/dojo.jpg") no-repeat;
  position: relative;
  background-size: 100% 100%;
  width: 1420px;
  height: 900px;
</style>
