<div ng-controller="listController">
  <h2>list</h2>

  <!-- clear sort -->
  <p>Sort by={{sortName}}, reverse={{reverse}}</p>
  <p><button ng-click="sortName=null; reverse=false">Clear sort</button></p>

  <!-- display users -->
  <table class="users">
    <tr>
      <th>
        <a href="" ng-click="sortBy('first_name')">First Name</a>
        <span class="sortorder" ng-show="sortName === 'first_name'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <a href="" ng-click="sortBy('last_name')">Last Name</a>
        <span class="sortorder" ng-show="sortName === 'last_name'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <a href="" ng-click="sortBy('language')">Favorite Language</a>
        <span class="sortorder" ng-show="sortName === 'language'" ng-class="{reverse: reverse}"></span>
      </th>
    </tr>
    <tr ng-repeat="user in users | orderBy:sortName:reverse">
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.language }}</td>
    </tr>

  </table>

  <style>
    .users {
      border-collapse: collapse;
    }

    .users th {
      border-bottom: 1px solid;
    }
    .users td {
      border-left: 1px solid;
      padding: 5px 10px;
    }
    .users td:first-child, .users th:first-child {
      border-left: none;
    }
    .sortorder:after {
      content: '\25b4';   // BLACK UP-POINTING TRIANGLE
    }
    .sortorder.reverse:after {
      content: '\25be';   // BLACK DOWN-POINTING TRIANGLE
    }
  </style>

</div>
