<form action="/users" method="post">
  <p>
    <label for="email">Email</label>
    <input type="text" name="user[email]" id="email">
  </p>
  <p>
    <label for="name">Name</label>
    <input type="text" name="user[name]" id="name">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password">
  </p>
  <p>
    <label for="password_confirmation">Password Confirmation</label>
    <input type="password" name="user[password_confirmation]" id="password_confirmation">
  </p>
  <p>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Join">
  </p>
  <p>
    <a href="/">Back</a>
  </p>
</form>

