<div id="register">

  <h2>Register Ninja</h2>

  <div ng-if="error">
    <p>{{ error.message }}:</p>
    <ul>
      <li ng-repeat="e in error.errors">{{e.message}}</li>
    </ul>
  </div>

  <div>
    <form id="registerForm">
    <p>
      <label for="first_name">First Name</label>
      <input id="first_name" name="first_name" type="text" ng-model="registration.first_name" />
    </p>
    <p>
      <label for="last_name">Last Name</label>
      <input id="last_name" name="last_name" type="text" ng-model="registration.last_name" />
    </p>
    <p>
      <label for="email">Email</label>
      <input id="email" name="email" type="text" ng-model="registration.email" />
    </p>
    <p>
      <label for="password">Password</label>
      <input id="password" name="email" type="password" ng-model="registration.password" />
    </p>
    <p>
      <label for="confirm_password">Confirm Password</label>
      <input id="confirm_password" name="email" type="password" ng-model="registration.confirm_password" />
    </p>
    <p>
      <!-- TODO: put this into a table? -->
      <label for="campus">Campus</label>
      <select name="campus" ng-model="registration.campus">
        <option value="Seattle">Seattle</option>
        <option value="San Jose">San Jose</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Dallas">Dallas</option>
        <option value="Washington D.C.">Washington D.C.</option>
        <option value="Chicago">Chicago</option>
      </select>
    </p>
    <p>
      <!-- TODO: make this a month and year drop down, starting in year 2010 -->  
      <label for="cohort">Cohort</label>
      <select name="cohort" ng-model="registration.cohort">
        <option value="Feb 2016">Feb 2016</option>
        <option value="Mar 2016">Mar 2016</option>
        <option value="Apr 2016">Apr 2016</option>
        <option value="May 2016">May 2016</option>
        <option value="Jun 2016">Jun 2016</option>
        <option value="Jul 2016">Jul 2016</option>
        <option value="Aug 2016">Aug 2016</option>
        <option value="Sep 2016">Sep 2016</option>
        <option value="Oct 2016">Oct 2016</option>
      </select>    
    </p>
    <p>
      <label for="role">Current Role</label>
      <select name="role" ng-model="registration.role">
        <option value="staff">Staff</option>
        <option value="student">Student</option>
        <option value="alumni">Alumni</option>
      </select>
    </p>
    <p>
      <label for="job_status">Job Status</label>
      <select name="job_status" ng-model="registration.job_status">
        <option value="prepping">Prepping</option>
        <option value="interviewing">Interviewing</option>
        <option value="employed">Employed</option>
      </select>
    </p>

    <p>
      <button ng-click="register()">Register</button>
    </p>

    </form>
  </div>
  <a href="#/login">Login</a>

</div>
