<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
      $(document).ready(function (){
        /* connect to socket */
        var socket = io.connect();

        /* prompt user for name */
        prompt_user();
        function prompt_user() {
          var name = prompt("What is your name?");
          socket.emit("new_user", { name: name });
        }

        /* keep prompting for name if no name entered */
        socket.on("get_name", function() {
          prompt_user();
        });

        /* new_user_join event was broadcasted to all users
           new user has joined message is appended
           append new user to the end of the roster */
        socket.on("new_user_join", function(data) {
          $("#messages").append("<p style='font-style: italic'>" + data.name + " has joined the chat room</p>");
         console.log("newuserid", data.id);

          var html_str = "<p id='" + data.id + "'>" + data.name + "</p>";
          $("#roster").append(html_str); 
        });

        /* existing_users event only sent to the user who just joined
           complete roster is sent over */
        socket.on("existing_users", function(data) {
          console.log("roster", data.response);
          console.log("current", data.current);
          var html_str = '';
          for (var id in data.response) {
            if (data.current == id) {
              console.log("current", id);
              html_str += "<p style='font-weight: bold;' id='" + id + "'>" + data.response[id] + "</p>";
            } else {
              html_str += "<p id='" + id + "'>" + data.response[id] + "</p>";
            }
          }
          $("#roster").html(html_str); 
        });

        /* disconnect_user is broadcasted to all except the disconnected user */
        socket.on("disconnect_user", function(data) {
          $("#messages").append("<p style='font-style: italic;'>" + data.name + " has left the chat room</p>");
          var id = "#" + data.id;
          console.log("disconnect_id", id);
          $(id).remove();//("#" + data.id);
        });

        $("#chat").submit(function(event) {
          event.preventDefault();
          var message = $("#message_input").val();
          console.log(message);
          socket.emit("message", { message : message }); 
          $("#message_input").val('');
        });

        socket.on("chat_message", function(data) {
          console.log("data: ", data);
          $("#messages").append("<p>" + data.user + ": " + data.message + "</p>");
        });

      });
    </script>
</head>
<body>

  <h3>Conversation Board</h3>
  <div id="status"></div>

  <div id="messages"></div>
  <div id="roster"></div>
  <div id="message">
    <form action="/" method="post" id="chat">
      <input type="text" id="message_input" name="message_input" placeholder="Enter your message here" />
      <button>Submit</button>
    </form>
  </div>

</body>
</html>

