<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <!--
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    -->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">User Dashboard</a>
            </div> <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if session.user_id %}
                        <li><a href="/dashboard">Home</a></li>
                    {% else %}
                        <li><a href="/signin">Home</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session.user_id %}
                        <li class="navbar-text">{{ session.name }}</li>
                        <li><a href="/logout">Log Out</a></li>
                    {% else %}
                        <li><a href="/signin">Sign In</a></li>
                    {% endif %}
                </ul>
            </div> <!-- div.collapse -->
        </div> <!-- container-fluid -->
    </nav>

    <div class="container">
        <div class="jumbotron">
        <!--<div class="jumbotron" style="background-color: #e7e7e7"> -->
            <h3><strong>Welcome to the User Dashboard</strong></h3>
            <p>This application was built brick by brick upon a Python MVC framework called <a href="https://github.com/Ketul-Patel/Pylot/tree/development">Pylot</a>, styled with Bootstrap.</p>
            <p>
               {% if session.user_id %}
                   <a class="btn btn-primary btn-large" href="/dashboard">Start</a>
               {% else %}
                   <a class="btn btn-primary btn-large" href="/signin">Start</a>
               {% endif %}
            </p>
        </div> <!-- div.jumbotron -->

        <div class="container-fluid">
            <div class="col-md-4">
                <h5 class='blurb'><strong>Manage Users</strong></h5>
                <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
            </div>
            <div class="col-md-4">
                <h5><strong>Leave Messages</strong></h5>
                <p>Users will be able to leave a message to another user using this application</p>
            </div>
            <div class="col-md-4">
                <h5><strong>Edit User Information</strong></h5>
                <p>Admins will be able to edit another user's information (email address, first name, last name, etc)</p>
            </div>
        </div> <!-- div containing benefits info--> 
    </div><!-- div#body -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
