<% @title="Product Info" %>

<% if flash[:messages] %>
  <% flash[:messages].each do |message| %>
    <p class="<%= message['status'] %>"><%= message['text'] %></p>
  <% end %>
<% end %>

<p>
  <strong>Name: </strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description: </strong>
  <%= @product.description %>
</p>
<p>
  <strong>Price: </strong>
  $<%= @product.pricing %>
</p>
<p>
  <strong>Category: </strong>
  <%= @product.category.name %>
</p>
<p>
  <a href="/products/<%= @product.id %>/edit">Edit</a>
  <a href="/products">Back</a>
</p>

<p><strong>Comment: </strong></p>
<p>
  <form action="/comments" method="post">
    <textarea name="comment[comment]"></textarea>
    <input type="hidden" name="comment[product_id]" value="<%= @product.id %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit">
  </form>
</p>

<% if @comments %>
  <% @comments.each do |c| %>
    <p><%= c.comment %> - <%= c.comment_date %></p>
  <% end %>
<% end %>
