* {
  font-family: monaco;
  margin: 0px;
  padding: 0px;
}
div#body {
    margin-top: 20px;
    width: 970px; 
}

div#pokedex {
    border: 10px solid red;
    height: 500px;
}
ul {
    list-style-position: inside;
}
